[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = laravel-test
[access "refs/*"]
	owner = group user/anjulog
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/anjulog
	label-Verified = -1..+1 group user/anjulog
	push = group user/anjulog
	read = group user/anjulog
	rebase = group user/anjulog
	removeReviewer = group user/anjulog
	submit = group user/anjulog
[access "refs/heads/*"]
	create = group user/anjulog
	push = +force group user/anjulog
	pushMerge = group user/anjulog
	read = group user/anjulog
[access "refs/tags/*"]
	push = group user/anjulog
	push = +force group user/anjulog
